/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  padding: 33%;
}

section{
  height: 550px;
  width: 400px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px;
  border: solid black 3px;
  border-radius: 7px;
}
h2{
  margin: 10px 30px;
}
li{
  display: flex;
  width: 48%;
  flex-flow: column nowrap;
  font-size: 24px;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
